<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <div class="container">
        <h3>Preview</h3>
        <div class="row">
        {{ data.head().to_html(classes="table table-striped text-center", index=False, justify="center") | safe }}
        </div>
        <h3>Select Columns</h3>
        <div class="row">
            <div class="col text-center">
                <form action="{{url_for('view')}}" method="post">
                    <div class="form-group">
                    <label for="year">Select column for year</label>
                    <select class="form-control" id="year" name="year">
                        {% for column in columns %}
                            <option value="{{ column | safe}}"
                                    {% if column == selected_year %} selected {% endif %}
                                >{{ column | safe}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="runsize">Select column for run size</label>
                    <select class="form-control" id="runsize" name="runsize">
                        {% for column in columns %}
                            <option value="{{ column | safe}}"
                                    {% if column == selected_runsize %} selected {% endif %}
                               >{{ column | safe}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="predictor">Select column for predictor</label>
                    <select class="form-control" id="predictor" name="predictor">
                        {% for column in columns %}
                            <option value="{{ column | safe}}"
                                    {% if column == selected_predictor %} selected {% endif %}
                               >{{ column | safe}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
    {%  if results %}
            <h3>Metrics</h3>
            <div class="row">
                <div class="col text-center">
                    <ul class="list-group">
                        <li class="list-group-item">MRE: {{ "%.6f" | format(results.mre) }}</li>
                        <li class="list-group-item">MAE: {{"%.6f" | format(results.mae) }}</li>
                        <li class="list-group-item">RMSE: {{"%.6f" | format(results.rmse) }}</li>
                        <li class="list-group-item">MPE: {{"%.6f" | format(results.mpe) }}</li>
                        <li class="list-group-item">MAPE: {{"%.6f" | format(results.mape) }}</li>
                    </ul>
                </div>
                <div class="col text-center">
                    <ul class="list-group">
                        <li class="list-group-item">R<sup>2</sup>: {{ "%.2f" | format(results.r2) }}</li>
                        <li class="list-group-item">Coeffecient: {{"%.6f" | format(results.coeff) }}</li>
                        <li class="list-group-item">Predictor Mean: {{"%.6f" | format(results.predictor_mean) }}</li>
                        <li class="list-group-item">Result Mean: {{"%.6f" | format(results.result_mean) }}</li>
                    </ul>
                </div>
        </div>
        <h3>Graph</h3>
        <div class="row">
            <div class="col text-center">
                <img src="{{ results.graph }}" class="img-fluid">
            </div>
        </div>

        <h3>Table</h3>
        <div class="row">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Observed</th>
                        <th>Estimated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in results.color_table.iterrows() %}
                     <tr style="background-color:
                     rgba({{ value['rgb'][0] }},
                          {{ value['rgb'][1] }},
                          {{ value['rgb'][2] }},
                          .5)">
                         <td> {{ value[selected_year].strftime('%Y') }}</td>
                         <td> {{ "%.5f" | format(value[selected_runsize]) }}</td>
                         <td> {{ "%.5f" | format(value['pred_y']) }}</td>
                     </tr>
                     {% endfor %}
                </tbody>

            </table>
        </div>


        <!--<div>-->
            <!--<h1>Full DataFrame</h1>-->
            <!--{{ results.dataframe.to_html(classes="table") | safe }}-->
        <!--</div>-->
    {% endif %}
    </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>